body {
  background-color: inherit;
  color: inherit;
  font-family: inherit;
  font-size: 1.6em;
}

button {
  text-align: center;
  height: 100%;
  background-color: rgba(255, 255, 255, 0.0);
  border: 2px solid white;
  border-radius: 0;
  color: white;
  text-decoration: none;
  font-family: inherit;
  font-size: 1.8em;
  padding: 8px;
  outline: none;
  -webkit-transition: font-weight .5s, border-radius 0.5s, background-color 1s;
}
button:hover{
  background-color: rgba(0,0,0,0.0);
  border-radius: 2em;
  cursor: pointer;
  background-color: white;
  -webkit-transition: font-weight .5s, border-radius 0.5s, background-color 1s;
}

.logo {
    width: 20vh;
    height: 20vh;
    position: absolute;
      left: 20%;
      top: 50%;
    transform: translate(0,-50%);
}
.banner{
  height: 20%;
  width: 100%;
  position: absolute;
    top : 0;
    left: 0;
}
#web-title{
  position: absolute;
    left : 50%;
    top : 45%;
    transform: translate(-50%,-50%);
}
#web-title h1{
  font-size: 5em;
  font-weight:bold;
}

#back-to-home-button{
  position: absolute;
    top: 50%;
    right: 10%;
    transform: translate(-50%,-50%);
  z-index: 1;
}

#content {
  width: 100%;
  height: 70%;
  position: absolute;
    top: 20%;
}

#copyright{
  width: 100%;
  position: absolute;
  top: 93%;
  left: 0;
  display: table;
}
#copyright p {
  text-align: center;
}

.col-inner {
  margin: 3px;
  padding: 0 5px;
  border: 2px solid white;
  height: 100%;
}

.col-title {
  text-align: center;
  border-bottom: 2px solid white;
  margin-bottom: 10px;
}


.col-content {
  padding-bottom: 15px;
  padding-left: 10px;
  padding-right: 10px;
  padding-top: 0;
  text-align: left;
}

.col-content td {
  vertical-align: top;
}


#tab-spanish {
  border-collapse: collapse;
}
td
{
  border: 1px solid white;
  font-size: 15px;
}

/* faire plus petit */
#vocab-button {
}
