body {
  background-color: inherit;
  color: inherit;
  font-family: inherit;
  font-size: 1.6em;
}

button {
  text-align: center;
  height: 100%;
  background-color: inherit;
  border: 2px solid white;
  border-radius: 0;
  color: white;
  text-decoration: none;
  font-family: inherit;
  font-size: 1.8em;
  padding: 8px;
  -webkit-transition: font-weight .5s, border-radius 0.5s, background-color 1s;
}

button:hover{
  background-color: rgba(0,0,0,0.1);
  border-radius: 2em;
  cursor: pointer;
  background-color: white;
  -webkit-transition: font-weight .5s, border-radius 0.5s, background-color 1s;
}

.logo {
    width: 40vh;
    height: 40vh;
    text-align: center;
    margin: 0 auto;
}

#web-title h1{
  font-size: 5em;
  margin: 0;
  text-align: center;
  font-weight:bold;
}

#choice {
  width: 90%;
  margin: 30px auto;
  text-align: center;
}

#choice button {
  width: 80%;
  margin: 0 auto;
}

.col-inner{
  padding: 2% 0%;
}

#my-profile {
  width: 90%;
  margin: 20px auto;
  padding: 15px;

}

#my-profile-button {
  width: 40%;
  margin: 0 auto;
}

#my-profile-button button {
  width: 100%;
}

#copyright{
  width: 100%;
  color: white;
  /*position: absolute;*/
  top: 90%;
  left: 0;
  display: table;
}
#copyright p {
  text-align: center;
}
