img {
  max-width:100%;
  max-height:100%;
}

#header table {
  margin: 0 auto;
}

.logo {
    width: 23vh;
    height: 23vh;
    text-align: center;
    margin: 0 auto;
}

#web-title h1{
  font-size: 5em;
  margin: 0;
  text-align: center;
  font-weight:bold;
}

#content {
  padding: 20px;
}

#content>table {
  width: 100%;
  table-layout: fixed;
  border: 2px solid white;
}

#content td {
  padding: 10px;
}

.col-title {
  text-align: center;
  border-bottom: 2px solid white;
}

.col-content {
  padding-bottom: 15px;
  padding-left: 15px;
  padding-right: 15px;
  padding-top: 0;
  text-align: left;
}

.col-content td {
  vertical-align: top;
}

/* STATS COL */
#overall-average, #last-ten-average, #username, #rank, #email, .score {
  float: right;
  color: white
}


/* ID CARD COL */

#profile-pic {
  max-width: 150px;
  max-height: 150px;
}

.col-content table, #user-infos {
  width: 100%;
}

#bio-display {
  color: white;
}

#bio-edit-field, #save-bio {
  display: none;
}

#edit-bio {
  font-style: underline;
}

#edit-bio:hover, #save-bio:hover {
  cursor: pointer;
}

/* SCORES */

.quizz-infos {
  margin-bottom: 2px;
}

.date {
  margin-top: 0;
  margin-bottom: 3px;
  font-size: 0.8em;
}

.score-infos {
  margin-top: 0;
  font-size: 1.1em;
}

.col-content nav ul {
  height:300px;
  padding-right: 10px;
  overflow:hidden;
  overflow-y:scroll;
}

/* copyrights */

#copyright{
  width: 100%;
  color: white;
  display: table;
}
#copyright p {
  text-align: center;
}
