body {
  background-color: inherit;
  color: inherit;
}

img {
  max-width:100%;
  max-height:100%;
}

#header table {
  margin: 0 auto;
}

.logo {
    width: 23vh;
    height: 23vh;
    text-align: center;
    margin: 0 auto;
}

#web-title h1{
  font-size: 5em;
  margin: 0;
  text-align: center;
  font-weight:bold;
}

#content {
  padding: 20px 5%;
}

.col-md-4 {
  padding: 0 1%;
  margin-bottom: 20px;
}

.col-inner {
  margin: 3px;
  padding: 0 5px;
  border: 2px solid white;
  height: 100%;
}

.col-title {
  text-align: center;
  border-bottom: 2px solid white;
  margin-bottom: 10px;
}

.col-content {
  padding-bottom: 15px;
  padding-left: 10px;
  padding-right: 10px;
  padding-top: 0;
  text-align: left;
}

.col-content td {
  vertical-align: top;
}

/* STATS COL */
#overall-average, #last-ten-average, #username, #rank, #email, .score {
  float: right;
  color: white
}

/* ID CARD COL */

#profile-pic {
  max-width: 150px;
  max-height: 150px;
  margin: 10px;
}

.col-content table, #user-infos {
  width: 100%;
}

#user-infos h3 {
  padding:: 5px 1px;
}

#bio-display {
  color: white;
}

#bio-edit-field, #save-bio {
  display: none;
}

#bio-edit-field {
  max-width: 100%;
  width: 100%;
  font-family: 'Lato', sans-serif;
  color: black;
}

#edit-bio {
  font-style: underline;
}

#edit-bio:hover, #save-bio:hover {
  cursor: pointer;
}

/* SCORES */

.quizz-infos {
  margin-bottom: 2px;
}

.date {
  margin-top: 0;
  margin-bottom: 3px;
  font-size: 0.8em;
}

.score-infos {
  margin-top: 0;
  font-size: 1.1em;
}

#scores-scroll {
  height:100px;
  padding-right: 10px;
  overflow:hidden;
  overflow-y:scroll;
}

/* copyrights */

#copyright{
  width: 100%;
  color: white;
  display: table;
}
#copyright p {
  text-align: center;
}
