body {
  background-color: inherit;
  color: inherit;
  font-family: inherit;
  font-size: 2em;
}

img {
  max-width:100%;
  max-height:100%;
}

button {
  text-align: center;
  height: 100%;
  border: 2px solid white;
  border-radius: 0;
  color: white;
  text-decoration: none;
  font-family: inherit;
  font-size: 1.8em;
  padding: 8px;
  outline: none;
  -webkit-transition: font-weight .5s, border-radius 0.5s, background-color 1s;
  background-color: rgba(255, 255, 255, 0.3);
}

button:hover{
  /*background-color: rgba(0,0,0,0.1);*/
  border-radius: 2em;
  cursor: pointer;
  background-color: white;
  /*color: all.background-color;*/
  -webkit-transition: font-weight .5s, border-radius 0.5s, background-color 1s;
}

header table {
  margin: 0 auto;
}

/*  @media screen and (max-width: 699px) - small screens
    @media screen and (max-width: 1000px) and (min-width: 700px) - medium screens
    @media screen and (min-width: 1001px) - wide screens
*/

.logo {
    width: 23vh;
    height: 23vh;
    text-align: center;
    margin: 0 auto;
}

#web-title h1{
  font-size: 5em;
  margin: 0;
  text-align: center;
  font-weight:bold;
}

@media screen and (max-width: 1000px) {
  body {padding: 10px;}
  .logo {width: 20vh; height: 20vh}
  #logo-title {font-size: 3em;}
}

#content {
  padding: 20px 5%;
}

.col-md-4 {
  padding: 0 1%;
  margin-bottom: 20px;
}

.col-inner {
  margin: 3px;
  padding: 0 5px;
  border: 2px solid white;
  height: 100%;
  background-color: rgba(255, 255, 255, 0.3);
}

.col-inner:hover {background-color: rgba(255, 255, 255, 0.4);}

.col-title {
  text-align: center;
  border-bottom: 2px solid white;
  margin-bottom: 10px;
  margin-left: 15%;
  margin-right: 15%;
}


.col-content {
  padding-bottom: 15px;
  padding-left: 10px;
  padding-right: 10px;
  padding-top: 0;
  text-align: left;
}

.col-content td {
  vertical-align: top;
}

@media screen and (max-width: 1000px) {
  .col-title h2 {font-size: 2.7em;}
  .col-content h3 {font-size: 1.5em;}
  .col-content {padding: 30px;}
}

/* STATS COL */
#overall-average, #last-ten-average, #username, #rank, #email, .score {
  float: right;
  color: white
}

#chart {
  width: 100%;
  margin: 15px auto;
  padding-top: 2%;
}

.line-chart {
	animation: fadeIn 600ms cubic-bezier(.57,.25,.65,1) 1 forwards;
  opacity: 0;
	max-width: 640px;
	width: 100%;
}

.aspect-ratio {
  height: 0;
  padding-bottom: 50%;
}

@keyframes fadeIn {
  to {
    opacity: 1;
  }
}

/* ID CARD COL */

#profile-pic {
  max-width: 120px;
  max-height: 120px;
  margin: 10px;
}

@media screen and (max-width: 1000px) {
  /* medium screens */
  #profile-pic-outter {width: 20%; }
  #profile-pic {max-width: 200px; max-height: 200px; margin-right: 50px}
  #username, #rank {float: none; margin-left: 10px}
}

.col-content table, #user-infos {
  width: 100%;
}

#user-pic-outter {
  border: 1px solid white;
  width: 120px;
  text-align: center;
  margin-right: 20px;
  margin-bottom: 10px;
}

#user-pic {
  font-size: 6em;
}

#new-pp {margin-bottom: 30px;}

#user-infos h3 {
  padding: 5px 1px;
}

#bio>h3:first-child {margin-bottom: 40px}

#bio-display {
  color: white;
}

#bio-edit-field, #save-bio {
  display: none;
}

#bio-edit-field {
  max-width: 100%;
  width: 100%;
  font-family: 'Lato', sans-serif;
  color: black;
}

#edit-bio:hover, #save-bio:hover {
  cursor: pointer;
}

/* SCORES */

.quizz-infos {
  margin-bottom: 2px;
}

.date {
  margin-top: 0;
  margin-bottom: 3px;
  font-size: 0.8em;
}

.score-infos {
  margin-top: 0;
  font-size: 1.1em;
}

#scores-scroll {
  height:100px;
  padding-right: 10px;
  overflow:hidden;
  overflow-y:scroll;
}

@media screen and (max-width: 1000px) {
  .quizz-infos {font-size: 2em;}
  .date {font-size: 1.2em;}
  .score-infos {font-size: 1.5em}
}

/* BACK HOME button */

#go-home {
  width: 90%;
  margin: 20px auto;
  padding: 15px;

}

#go-home {
  width: 40%;
  margin: 0 auto;
}

#go-home-button button {
  width: 100%;
}

/* copyrights */

#copyright{
  width: 100%;
  color: white;
  display: table;
}
#copyright p {
  text-align: center;
}
