html{
  background-color: #9DA81C;
  width: 100%;
  height: 100%;
  font-family: 'Arvo', serif;
  color : white;
}

body {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.logo{
  width: 40vh;
  height: 40vh;

  position:absolute; /*it can be fixed too*/
    left:0; right:0;
    top:0; bottom:7em;
    margin:auto;
    /*border: 1px solid;*/

  animation: logo 2s ease-in-out infinite alternate, appearing 5s;
  -webkit-animation: logo 5s ease-in-out infinite alternate, appearing 5s;
}

@keyframes logo {
    0% {
        transform: scale(1.0);
        -webkit-transform: scale(1.0);
    }
    100% {
        transform: scale(1.3);
        -webkit-transform: scale(1.3);
    }
}

#names{
  /*border: 1px solid;*/
  margin-top: 10px;
  position: relative;
  -webkit-animation: moving 5s;
  animation: moving 5s;
  background-color: inherit;
}
@keyframes moving {
    from {transform: translateY(-150px);
          opacity: 0}
    to {transform: translateY(0px);
          opacity: 1}
}

img{
  width: 100%;
  height: 85%;
}

#names h1{
  color: #ffffff;
  font-size: 5em;
  margin: 0;
  text-align: center;
  font-weight:bold;
}

.login-form{
  position: absolute;
  left: 50%;
  top: 80%;
  transform: translate(-50%, -50%);

  width: 70%;
  height: 20%;

  padding: 20px;
  background: rgba(0,0,0,0.3);
  color: white;
  text-align: center;
  border-radius: 1em;
  box-shadow: 0 0 30px rgba(0, 0, 0, 0.2);
  animation-delay: 2s;
  -webkit-animation: moving_bottom 5s;
  animation: moving_bottom 5s;
}

@keyframes moving_bottom {
    from {opacity: 0;
    transform: translateY(50000px);
    transform: translate(-50%);}

    to {transform: translateY(0px);
        opacity: 1;
        transform: translate(-50%, -50%)}
}

.login-title{
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 45%;
  color : white;
  /*background-color: white;*/
  display: table;
}
.login-title p {
  font-size: 2.5em;
  font-weight: bold;
  display: table-cell;
  vertical-align: middle;
}

.container{
  position: absolute;
  top: 45%;
  left: 0;
  width: 100%;
  height: 33%;
}

.container .username {
  position: absolute;
  top: 0;
  left: 0;
  width: 38%;
  height: 97%;
  background-color: rgba(0,0,0,0.4);
  border: none;
  color: white;
  font-family: 'Arvo', serif;
  font-size: 25px;
  padding-left: 2%;
  outline: none;
}
.username:focus {
  background-color: rgba(0,0,0,0.5);
}
.container .password {
  position: absolute;
  top: 0;
  left: 40%;
  width: 38%;
  height: 97%;
  background-color: rgba(0,0,0,0.4);
  font-family: 'Arvo', serif;
  padding-left: 2%;
  border: none;
  color: white;
  font-size: 25px;
  outline: none;
}
.password:focus {
  background-color: rgba(0,0,0,0.5);
}
.container .login {
  position: absolute;
  top: 0;
  left: 80%;
  width: 20%;
  height: 100%;
  background-color: rgba(0,0,0,0.6);
  border: none;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 25px;
  font-family: 'Arvo', serif;
}
.login:hover{
  background-color: rgba(0,0,0,0.8);
}
.data_login{
  position: absolute;
  top: 78%;
  left: 0;
  width: 100%;
  height: 22%;
  color : white;
  display: table;
}
.data_login p {
  font-size: 0.8em;
  display: table-cell;
  vertical-align: middle;
}
.copyright{
  width: 100%;
  position: absolute;
  top: 93%;
  left: 0;
  display: table;
}

.copyright p {
  text-align: center;
  opacity: 0;

  -webkit-animation: appearing 2s;
  -webkit-animation-fill-mode: forwards;
  animation: appearing 2s;
  animation-delay: 2.5s;
  animation-fill-mode:forwards;

}

@keyframes appearing {
    from {opacity: 0;}
    to {opacity: 1;}
}

@media only screen and (max-device-width: 480px) {
  .logo{
    position:absolute; /*it can be fixed too*/
    left:0;
    bottom:38em;
    margin:auto;
  }
  #names{
    padding-top: 1em;
    font-size: 1.5em;
  }
  .copyright p{
    font-size: 2em;
  }
  .login-form{
    top: 70%;

    width: 90%;
    height: 47%;
    padding:0;
  }
  .login-title{
    height: 20%;
  }
  .login-title p {
    font-size: 3em;
    animation-delay: 4s;
  }
  .container{
    top: 20%;
    height: 60%;
  }
  .container .username {
    width: 90%;
    height: 40%;
    padding-left: 10%;
    font-size: 3em;
  }
  .container .password {
    position: absolute;
    top: 40%;
    left: 0;

    width: 90%;
    height: 40%;
    padding-left: 10%;
    font-size: 3em;
  }
  .container .login {
    position: absolute;
    top: 80%;
    left: 0;
    width: 100%;
    height: 30%;
    font-size: 3em;
  }
  .data_login{
    top: 86%;
    height: 14%;
  }
  .data_login p {
    font-size: 3em;
  }
}
