/* ###########################################################
########### GLOBAL CSS FOR ALL THE WEBSITE GOES HERE #########
#############################################################*/

html{
  /*background-color: #9DA81C;*/
  width: 100%;
  height: 100%;
  font-family: 'Arvo', serif;
  color : white;
}

body {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

a{
  color: inherit;
  text-decoration: none;
}
a:hover{
  text-decoration: underline;
}

.box{
  padding: 20px;
  text-align: center;
  border: 3px solid white;
  border-radius: 1em;
}

::-webkit-input-placeholder { /* WebKit, Blink, Edge */
    color:    white;
}
:-moz-placeholder { /* Mozilla Firefox 4 to 18 */
   color:    white;
   opacity:  1;
}
::-moz-placeholder { /* Mozilla Firefox 19+ */
   color:    white;
   opacity:  1;
}
:-ms-input-placeholder { /* Internet Explorer 10-11 */
   color:    white;
}
::-ms-input-placeholder { /* Microsoft Edge */
   color:    white;
}

::placeholder { /* Most modern browsers support this now. */
   color:    white;
}
